<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/login_header') %>
    <h1>Logueate con tu cuenta</h1>
    <form action="/login" method="post">
        <input type="email" placeholder="Correo electrónico" name="email" required>
        <input type="password" placeholder="Contraseña" name="pass" required>
        <button>Aceptar</button>
    </form>
    <br>
    <%- include('partials/footer') %>
</body>
</html>